local-s3-bucket
frontend-citi-bike-data/public/station_data/
.DS_Store
frontend-citi-bike-data/.env
research/202410-citibike-tripdata/
research/data/
research/geo/
research/.env
ingestion/__pycache__/
ingestion/.env
research/layer_generation/geo_layers/
ingestion/logs/fetch_files.log
