@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


.maplibregl-popup-content {
  padding: 0 !important; 
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  overflow-y: hidden !important;
  pointer-events: none !important;
  overflow-x: hidden !important;
}


.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  /* display: none !important; */    
    align-self: center !important;
    border-bottom: none !important;
    border-top-color: #ffffff40 !important;


}