<div class="flex w-full flex-row items-baseline gap-2">
  <div
    class="inline-flex items-baseline text-nowrap rounded-full border-cb-decrease/10 bg-cb-decrease px-2.5 py-0.5 text-base font-medium tabular-nums text-cb-white"
  >
    <svg
      class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-120dh41-MuiSvgIcon-root mr-[4px] self-center"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
      data-testid="TrendingDownIcon"
    >
      <path
        d="m16 18 2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6z"
      ></path></svg
    ><span class="text-sm tabular-nums tracking-wider lg:text-base"
      ><span
        class="inline-block animate-[slideDown_0.3s_ease-out_forwards] opacity-0"
        style="animation-delay: 0ms"
        >1</span
      ><span
        class="inline-block animate-[slideDown_0.3s_ease-out_forwards] opacity-0"
        style="animation-delay: 30ms"
        >.</span
      ><span
        class="inline-block animate-[slideDown_0.3s_ease-out_forwards] opacity-0"
        style="animation-delay: 60ms"
        >4</span
      ><span
        class="inline-block animate-[slideDown_0.3s_ease-out_forwards] opacity-0"
        style="animation-delay: 90ms"
        >%</span
      ></span
    >
  </div>
  <span
    class="text-nowrap text-xs font-light uppercase tabular-nums tracking-wide text-gray-500 lg:text-sm"
    >vs
    <!-- -->Sep '14<!-- -->
    (<!-- -->70<!-- -->
    <!-- -->trips)</span
  >
</div>
